*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: f6f4d2;
}
.container{
    display: flex;
    flex-direction: column;

}
.navbar-header{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 15vh;
}
.navbar-brand{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.navbar-nav {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-around;
    


}
.navbar-nav ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    align-content: center;
    grid-column-gap: 10px;
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: 003049;
}
.body{
    
   display: grid;
   grid-template-columns: 50% 50%;
    
}
.body-left{
    display: flex;
    
}
.body-left video{
    display: flex;
    width: 100%;
    height: 100%;
}
.body-right{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}
.body-right-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 60%;

}
h1{
    font-size: 40px;
    color: cadetblue;
}
input[type=email]{
    border: 0;
    outline: 0;
    text-decoration: underline;
    
}
.signup{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    
}
.signup a{
    text-decoration: underline;
}
.btn-primary{
    display: flex;
    justify-content: center;
    background-color: #ccae62;
    border-radius: 25px;
    padding: 8px 20px;
    border: 0;
    outline: 0;
}